


    #semitransparent {
    padding: 10px;
    z-index: 0;
    background-color: white;
    opacity: 0.9;
    -moz-opacity: 0.9;
    -khtml-opacity: 0.90;
    /* filter: alpha(opacity=30);*/
    /*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);*/
    border-style: double;
    border-color: #efefef;
    }

        body
        {
       /*  margin: 0;
         padding: 0;
         color: #555;
         font: normal 10pt Arial,Helvetica,sans-serif;*/
         /*background: black; */
         background-image: url(../images/bg.jpg);
         width: 100%;
         background-attachment: fixed;
         overflow-x: hidden;
        /* background-image: url(../images/background2.jpg);
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;

         background-attachment: fixed;
         background-repeat: no-repeat;
        background-position: center center;*/

        }

        #negro_transparente{
          background: rgba(255, 255, 255, 0.6);
        }

        /*animacion Y DISEÑO del chat*/
        .vFlotante
        {
          position: fixed;
          margin:0 auto;
          left:95%; /*right: -25%;*/
          top: 7%;
          width:540px; /*ancho del div*/
          height: 600px; /*aldo del div*/
          transition:all .4s ease-in;
          -webkit-transition:all .4s ease-in;
          -moz-transition:all .4s ease-in;
          -o-transition:all .4s ease-in;
        }

        .titulo_chat
        {
          transform:rotate(270deg);
          -webkit-transform:rotate(270deg);
          -moz-transform:rotate(270deg);
          -o-transform:rotate(270deg);
        }

        .vFlotante:hover
        {
          left: 70%;
        }

        #messages {
          height: 300px;
          overflow-y: auto;
        }

        .triangle-border {
          position:relative;
          padding:15px;
          margin:1em 0 3em;
          border:1px solid #5a8f00;
          color:#333;
          background:#fff;
          /* css3 */
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          border-radius:10px;
        }
        .triangle-border.left {
          margin-left: 31px;
        }

        .triangle-border.right {
          margin-right:30px;
        }

        /*Diseño del triangulo de las burbujas del chat*/
        .triangle-border:before {
          content:"";
          position:absolute;
          bottom:-20px; /* value = - border-top-width - border-bottom-width */
          left:40px; /* controls horizontal position */
          border-width:20px 20px 0;
          border-style:solid;
          border-color:#5a8f00 transparent;
          /* reduce the damage in FF3.0 */
          display:block;
          width:0;
        }

        /* creates the smaller  triangle */
        .triangle-border:after {
          content:"";
          position:absolute;
          bottom:-13px; /* value = - border-top-width - border-bottom-width */
          left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
          border-width:13px 13px 0;
          border-style:solid;
          border-color:#fff transparent;
          /* reduce the damage in FF3.0 */
          display:block;
          width:0;
        }

        /* creates the larger triangle */
        .triangle-border.left:before {
          top:10px; /* controls vertical position */
          bottom:auto;
          left:-30px; /* value = - border-left-width - border-right-width */
          border-width:15px 30px 15px 0;
          border-color:transparent #5a8f00;
        }

        /* creates the smaller  triangle */
        .triangle-border.left:after {
          top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
          bottom:auto;
          left:-21px; /* value = - border-left-width - border-right-width */
          border-width:9px 21px 9px 0;
          border-color:transparent #fff;
        }

        /* Variant : right
        ------------------------------------------ */

        /* creates the larger triangle */
        .triangle-border.right:before {
          top:10px; /* controls vertical position */
          bottom:auto;
          left:auto;
          right:-30px; /* value = - border-left-width - border-right-width */
          border-width:15px 0 15px 30px;
          border-color:transparent #5a8f00;
        }

        /* creates the smaller  triangle */
        .triangle-border.right:after {
          top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
          bottom:auto;
          left:auto;
          right:-21px; /* value = - border-left-width - border-right-width */
          border-width:9px 0 9px 21px;
          border-color:transparent #fff;
        }

        /*000000000000000000000000000000000000000000000000000000000000*/
        /*-------------------------------------------*/
        #chat { width: 900px; }


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/


        /*animacion de accesos directos*/
        #floatingRectangle {
          position: fixed;
          /*left:96%;left:30%;*/
          margin:0 auto;
          left: 0;
          right: 0;
          bottom:1px;
          text-align:center; /*centrar el contenido del div*/
          width:500px; /*ancho del div*/
          height: 100px; /*alto del div*/
          transition:all .4s ease-in;
          -webkit-transition:all .4s ease-in;
          -moz-transition:all .4s ease-in;
          -o-transition:all .4s ease-in;
        }

        #floatingRectangle:hover {
          /*left: 60%;*/
          bottom: 90px;
        }

        /*flotante de notificaciones*/
        #notf{
          padding:12px 14px 12px 14px;
          width:100px;
          position:fixed;
          top:100px;
          right:20px;
          display:none;
          z-index:90;
        }
        #spopup{
          background: rgba(0, 255, 255, 0.75);
          border-radius:9px;
          -moz-border-radius:9px;
          -webkit-border-radius:9px;
          -moz-box-shadow:inset 0 0 3px #333;
          -webkit-box-shadow:inset 0 0 3px #333;
          box-shadow:inner 0 0 3px #333;
          padding:12px 14px 12px 14px;
          width:600px;
          position:fixed;
          top:100px;
          right:118px;
          display:none;
          z-index:90;
      }

        #chat-mensajes {
          overflow: auto;
        }

/*--------------------------footer*/
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            height: 60px;
            width: 100%;
            /* border-color: #020202;*/
           /* background-color: #4169E1; */
            background-color: #efefef;
        }



/*===================================MEGA MENU================================*/
.navbar-default{
color: #fff;
background-color: #ccc6c6;
border-color: #aca1a2;
}
.navbar-default .navbar-nav > li > a{
	color:#fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
	border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.menu-large {
  position: static !important;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;

  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	color:#fff;
  }
}
