@font-face {
  font-family: Segoe UI, sans-serif;
  /*src: url(SourceSansPro-Regular.ttf);*/
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-size: 0.8em;
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: #555555;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-family: Segoe UI, sans-serif;
}

header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 10px;
}

#client {
  padding-left: 6px;
  float: left;
  text-align: left;
}

#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

h2.venta_pago {
  font-size: 1.1em;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice .address {
  font-size: 0.8em;
}

#invoice .clave {
  font-size: 0.4em;
}

#invoice h1 {

  font-size: 2.0em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

.table_info {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.table_info .derecha {
  text-align: left;
}

.table_info .izquierda {
  text-align: right;
}

.table_detalle {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.table_detalle th,
.table_detalle td {
  padding: 6px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

.table_detalle th {
  white-space: nowrap;
  font-weight: normal;
}

.table_detalle td {
  text-align: right;
}

.table_detalle td h3{
  color: #57B223;
  font-size: 0.8em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

.table_detalle .no {
  color: #FFFFFF;
  font-size: 1.0em;
  background: #57B223;
  width: 5%;
}

.table_detalle .cod {
  text-align: center;
  background: #DDDDDD;
  width: 10%;
}

.table_detalle .desc {
  text-align: left;
  width: 50%;
}

.table_detalle .unit {
  background: #DDDDDD;
  width: 10%;
}

.table_detalle .qty {
  width: 10%;
}

.table_detalle .total {
  background: #57B223;
  color: #FFFFFF;
  width: 15%;
}

.table_detalle td.unit,
.table_detalle td.qty,
.table_detalle td.total {
  /*font-size: 1.2em;*/
}

.table_detalle tbody tr:last-child td {
  border: none;
}

.table_detalle tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid #AAAAAA;
}

.table_detalle tfoot tr:first-child td {
  border-top: none;
}

.table_detalle tfoot tr:last-child td {
  color: #57B223;
  font-size: 0.9em;
  border-top: 1px solid #57B223;

}

.table_detalle tfoot tr td:first-child {
  border: none;
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;
}

#notices .notice {
  font-size: 1.2em;
}

footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}
